build/
build_fresh/
imgui.ini
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.user
*.sln
*.vcxproj*
.vs/
.idea/
out/

# Runtime / debug artifacts produced by the ultra-PTX work
ultra_ptx_counts.log
ultra_ptx_load.log
cursdar3_stdout.log
cursdar3_stderr.log
